/*模块专用start*/
.week_model_head {
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0 .24rem;
    position: relative;
}

.week_model_title {
    font-size: .29rem;
}

.week_model_more {
    color: #666;
    font-size: .26rem;
}

.week_model_more span {
    margin-right: .3rem;
}

.week_common_wrap {
    background-color: #fff;
    padding: 0 .24rem;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-top: .2rem;
}

.week_common_h120 {
    height: 1.2rem;
    line-height: 1.2rem;
}

/*模块专用end*/

/*banner start*/
.week_banner {
    margin-bottom: .2rem;
}

.service_suggest {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 .26rem;
    margin: .2rem 0;
    background-color: #fff;
}

.ser_head {
    padding: .4rem 0;
    border-bottom: 1px solid #e4e4e4;
}

.ser_head_online {
    width: 33.3333%;
    text-align: center;
}

.ser_img {
    width: 60%;
    margin: 0 auto .16rem;
}

.ser_head_online p {
    color: #333;
}

.service_title {
    text-align: center;
    color: #a575e3;
    height: .9rem;
    line-height: .9rem;
}

.service_title em {
    margin: 0 .28rem;
    display: inline-block;
    vertical-align: top;
}

.introduce_tips {
    display: inline-block;
    width: .32rem;
    height: .3rem;
    background-position: -6.45rem -3.22rem;
    background-size: 15.36rem 8rem;
    vertical-align: top;
    margin-top: .3rem;
}

/*banner end*/

/*包装展示start*/
.package_present {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    margin-bottom: .2rem;
}

.pack_list_wrap {
    padding-left: .24rem;
    overflow-x: scroll;
}

.pack_list {
    width: 14.8rem;
}

.pack_list > li {
    float: left;
    margin-right: .16rem;
    padding-bottom: .25rem;
    font-size: .26rem;
}

.pack_list_title {
    margin: .24rem 0 .17rem;
}

.pack_img {
    width: 2.79rem;
}

.pack_praise > i {
    display: inline-block;
    width: 0.25rem;
    height: .25rem;
    margin-right: .15rem;
    background-position: -6.38rem -2.02rem;
    background-size: 11.44rem 5.06rem;
}

/*包装展示end*/
.guest_comments {
    background-color: #fff;
}

.guest_comments_list {
    padding: 0 .24rem;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.gue_com_item {
    border-top: 1px solid #e4e4e4;
    padding: .3rem 0;
    position: relative;
}

.gue_portrait {
    width: .9rem;
}

.gue_name_wrap {
    margin: .1rem 0 .2rem;
}

.gue_right {
    padding-left: .25rem;
    overflow: hidden;
}

.gue_com_date {
    font-size: .22rem;
    color: #666;
}

.gue_txt {
    margin-bottom: .2rem;
}

.gue_com_eximg {
    display: inline-block;
    width: 1.82rem;
    margin-right: .1rem;
}

.gue_com_eximg:last-child {
    margin-right: 0;
}

/*服务介绍*/
.service_int {
    padding: .4rem;
    font-size: .3rem;
    line-height: .6rem;
}

/*包装美图*/
.package_list_box {
    margin: 0 .25rem;
}

.package_list_box > li {
    margin-top: .2rem;
    float: left;
    margin-right: .18rem;
    background-color: #fff;
}

.package_list_box > li:nth-child(even) {
    margin-right: 0;
}

.package_list_box > li h3 {
    margin-left: .3rem;
    margin-bottom: .18rem;
    font-size: .3rem;
    color: #333;
}

.package_list_box > li .pack_praise {
    display: block;
    margin-left: .3rem;
    margin-bottom: .18rem;
    font-size: .24rem;
    color: #666;
}

.package_img {
    width: 3.4rem;
    margin-bottom: .18rem;
}

/*包装美图end*/

/*线上直邮start*/
.send_name {
    background-color: #fff;
    padding: 0 .24rem;
    margin: .2rem 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.send_name > div {
    height: 1.2rem;
    line-height: 1.2rem;
}

.send_name > div:first-child {
    border-bottom: 1px solid #e4e4e4;
}

.send_name > div:last-child {
    border: none;
    position: relative;
}

.send_name > div span {
    margin-right: .3rem;
}

.send_name > div .week_more {
    right: 0;
}

.send_name label {
    margin-right: .4rem;
}

.revise_name {
    color: #1295db;
}

.choose_friend {
    color: #c0c0c0;
}

.gift_detail {
    margin-bottom: .57rem;
}

.gift_detail textarea {
    background-color: #fffae0;
    width: 5.62rem;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    resize: none;
    padding: .28rem;
    margin-bottom: .25rem;
}

.gift_detail > div {
    height: 1.2rem;
    line-height: 1.2rem;
    border-bottom: 1px solid #e4e4e4;
}

.gift_detail > div .remark {
    vertical-align: top;
    display: inline-block;
    margin-right: .12rem;
    margin-top: .23rem;
}

.gift_detail > div label {
    margin-right: .4rem;
}

.gift_detail > div:last-child {
    border-bottom: none;
}

.gift_detail > div.goods_box {
    height: auto;
    padding-top: .25rem;
}

.purchase_wrap {
    position: relative;
    margin-left: .4rem;
}

.minus {
    position: absolute;
    left: 0;
    top: .28rem;
    width: .56rem;
    height: .56rem;
    background-position: 0px 0px;
    background-position: -6.871rem -2.52rem;
    background-size: 11rem 6.3rem;
}

.plus {
    position: absolute;
    right: 0;
    top: .28rem;
    width: .56rem;
    height: .56rem;
    background-position: 0px 0px;
    background-position: -7.97rem -2.52rem;
    background-size: 11rem 6.3rem;
}

.purchase_num {
    display: block;
    margin: 0 1rem;
    text-align: center;
    font-size: .33rem;
}

/*支付订单start*/
.pay_name > div:first-child {
    border-bottom: 1px solid #e4e4e4;
}

.price_all {
    width: 2rem;
}

.member_dis {
    margin-left: .35rem;
}

.price_total {
    margin-left: .1rem;
    color: #e94442;
}

.price_calc, .goods_num {
    color: #999;
}

.price_all_wrap {
    margin-bottom: 2rem;
}

.price_all_wrap > div {
    border-bottom: 1px solid #e4e4e4;
}

.price_all_wrap > div:last-child {
    border-bottom: none;
}

.price_pay {
    font-size: .37rem;
}

/*活动规则start*/
.rules_wrap{
    padding: .4rem .24rem 0;
}
.rules_wrap p{
    line-height: .6rem;
    margin-top: .3rem;
}

/*个人转邮start*/
.pack_select i{
    display: inline-block;
    vertical-align: top;
    width: .4rem;
    height: .4rem;
    margin-top: .38rem;
    margin-right: .18rem;
    background-position: -8.52rem -2.44rem;
    background-size: 10.5rem 5.9rem;
}

.pack_select i.on{
    background-position: -9.3rem -2.44rem;
    background-size: 10.5rem 5.9rem;
}

.pack_select >span:first-child{
    margin-right: .6rem;
}

.image_choose{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.image_choose input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    height: 100%;
}
.image_choose i{
    vertical-align: top;
    margin: .25rem 0 .2rem;
    display: inline-block;
    width: 1.56rem;
    height: 1.56rem;
    background-size: 8.4rem 4.7rem;
    background-position: .06rem -3rem;
}

.week_common_wrap .img_choose_wrap{
    height: auto;
}

.next_button{
    margin-top: -.2rem;
}

.gift_detail .goods_box{
    line-height: normal;
}




