
.add_more.had_finished_btn {
    color: #8c55e4;
}

.order_finish_ul {
    margin-top: .2rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    padding: 0 .26rem;
}

.order_finish_ul > li {
    height: 1.26rem;
    line-height: 1.26rem;
}

.order_finish_ul > li .fr {
    color: #999;
}

/*订单列表*/
.order_lists_item {
    margin-top: .2rem;
    padding: 0 .26rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}

.order_lists_item a {
    color: #333;
}

.order_lists_head {
    height: 1.1rem;
    line-height: 1.1rem;
    border-bottom: 1px solid #efefef;
}

.order_lists_head > .fr {
    color: #934cf4;
}

.order_text {
    color: #666;
}

.order_service_price {
    margin-bottom: .32rem;
}

.order_service_price > .fr {
    color: #e63a3a;
}

.address_copy_btn {
    color: #1595de;
}

.order_details {
    padding-top: .32rem;
}

.order_service_price_wrap {
    height: 1.2rem;
    line-height: 1.2rem;
}

.address_copy_wrap {
    padding: .2rem 0;
}

.send_countDown {
    height: 1.15rem;
    font-size: .24rem;
    margin-bottom: .2rem;
    background-color: #fffae2;
    border-radius: .575rem .1rem .1rem .575rem;
    -webkit-border-radius: .575rem .1rem .1rem .575rem;
}

.send_countDown.color_none {
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.order_footer {
    height: 1.1rem;
    margin-top: .3rem;
    border-top: 1px solid #efefef;
    line-height: 1.1rem;
    text-align: center;
    position: relative;
}

.order_footer > a {
    color: #666;
}

.order_footer > a.order_sended {
    color: #914df2;
}

.send_bigTip {
    width: .67rem;
    height: .67rem;
    margin: .24rem .3rem 0 .24rem;
    border-radius: 50%;
    background-position: -7.76rem -.07rem;
    background-size: 8.5rem 4.6rem;
}

.send_bigTip.order_payed {
    background-position: -7.76rem -1.04rem;
}

.countDown_time {
    color: #e63a3a;
    display: inline-block;
    margin: .24rem 0 .08rem;
}

.order_tips {
    color: #999;
}

.order_footer > a {
    width: 50%;
}

.order_footer > a {
    width: 50%;
}

.middle_line {
    width: 2px;
    height: .7rem;
    position: absolute;
    left: 50%;
    top: .2rem;
    background-color: #f2f2f2;
}

/*订单详情*/
.order_por_head {
    height: 2.68rem;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: .3rem;
    margin-bottom: .2rem;
}

.order_por_head > div {
    width: 50%;
    height: 100%;
}

.order_por_head img {
    width: 1.03rem;
    height: 1.03rem;
    margin: .6rem auto .15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.order_names_text {
    width: 2rem;
    margin: 0 auto;
    text-align: center;
}

.order_names_text.send_hand .icon_week {
    width: .4rem;
    height: .4rem;
    display: inline-block;
    background-position: -.465rem -1.7rem;
    background-size: 8rem 4.4rem;
    vertical-align: bottom;
}

.order_names_text.receive_hand .icon_week {
    width: .4rem;
    height: .4rem;
    display: inline-block;
    background-position: -.48rem -2.26rem;
    background-size: 8rem 4.4rem;
    vertical-align: bottom;
}

.order_charge_ul > li {
    height: 1.1rem;
    line-height: 1.1rem;
    border-bottom: 1px solid #efefef;
}

.order_charge_ul .red_sale {
    color: #e63a3a;
}

.price_sum_wrap {
    color: #666;
}

.price_sum {
    margin-right: .4rem;
}

.mem_sale_num {
    margin-left: .08rem;
}

.order_pack_detail {
    padding-top: .27rem;
}

.gift_pack_show {
    overflow: hidden;
    padding-bottom: .27rem;
    border-bottom: 1px solid #efefef;
}

.gift_pack_show_ul > li {
    float: left;
    margin-right: .2rem;
}

.gift_pack_show_ul img {
    width: 1.8rem;
    height: 1.8rem;
}

.gift_name_type_ul > li {
    line-height: 1.1rem;
    height: 1.1rem;
    border-bottom: 1px solid #efefef;
}

.gift_name_type_ul > li:last-child {
    border-bottom: none;
}

.gift_name_type_ul > li span {
    width: 1.15rem;
    display: inline-block;
    margin-right: .6rem;
}

.order_foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    background-color: #fff;
}

.order_foot > a {
    height: 100%;
    width: 50%;
    color: #666;
}

.order_foot > a.order_sure {
    background-color: #8b56e4;
    color: #fff;
}

.web_link_wrap {
    border-top: 1px solid #efefef;
    background-color: #fff;
    margin-bottom: .2rem;
}

.web_link_wrap > li {
    height: 1.1rem;
    line-height: 1.1rem;
    border-bottom: 1px solid #efefef;
    padding: 0 .26rem;
}

.web_link_wrap > li span:first-child {
    margin-right: .5rem;
}

.order_package_remarks {
    padding: .4rem .26rem;
}

.orderPack_remark_cont {
    padding-left: .5rem;
    overflow: hidden;
}

/*邮寄物品start*/
.delivery_goods {
    text-align: center;
}

.delivery_goods img {
    width: 2.46rem;
    height: 2.62rem;
    margin: 1.15rem auto .28rem;
}

.delivery_goods p {
    margin: .2rem 0;
}

.copy_address_button {
    display: block;
    margin: .5rem auto 1.87rem;
    width: 2.04rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    color: #1494db;
    border: 2px solid #1494db;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
}

/*订单无start*/
.order_noen_wrap {
    text-align: center;
    width: 3rem;
    margin: 3.07rem auto;
}

.order_noen_wrap h3 {
    font-size: .29rem;
}

.order_noen_img {
    display: inline-block;
    width: 2.48rem;
    height: 2.08rem;
    margin-bottom: .6rem;
}

.pop_container.order_pop .pop_head {
    padding: 0;
    height: 1.95rem;
    line-height: 1.95rem;
}

.pop_head > h3 {
    font-size: .3rem;
    text-align: center;
}

.pop_container.order_pop {
    min-height: 2.87rem;
}

/*express start*/
.express_wrap {
    margin-bottom: 1.4rem;
}

.exp_title {
    margin-left: .3rem;
    font-size: .29rem;
}

.exp_wrap {
    position: relative;
    height: 1rem;
    line-height: .98rem;
    border: 2px solid #dedede;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    font-size: .29rem;
    background-color: #fff;
}

.exp_wrap {
    margin-top: .3rem;
    position: relative;
    overflow: hidden;
}

.express_ul {
    padding: 0 .7rem;
}

.express_ul > li {
    padding-top: .45rem;
}

.icon_express {
    background: url(../images/icon_express.png) no-repeat;
    background-size: 9.7rem 1rem;
}

.exp_type {
    position: absolute;
    left: .3rem;
    top: -.02rem;
    padding-left: .9rem;
    font-size: .29rem;
}

.rightDown_arrow_box {
    width: 1rem;
    height: 1rem;
    border-left: 2px solid #dedede;
    position: absolute;
    right: 0;
    top: 0;
}

.rightDown_arrow {
    width: .3rem;
    height: .2rem;
    display: block;
    margin: .4rem 0 0 .3rem;
    background-position: -1.17rem -2.35rem;
    background-size: 8rem 4.4rem;
}

.exp_number {
    position: absolute;
    left: 0;
    top: -.02rem;
    height: 1rem;
    width: 100%;
    padding-left: .3rem;
    font-size: .28rem;
}

.exp_pop {
    position: fixed;
    width: 5.26rem;
    height: 10.59rem;
    left: 50%;
    top: 50%;
    margin-top: -5.295rem;
    margin-left: -2.63rem;
    z-index: 1100;
    background-color: #fff;
    padding: .3rem 0;
    display: none;
}

.exp_pop_ul > li {
    padding-left: 1.7rem;
    height: 1rem;
    line-height: 1rem;
    position: relative;
}

.icon_express {
    position: absolute;
    left: .68rem;
    top: .25rem;
    width: .5rem;
    height: .5rem;
}

.icon_express.yd {
    background-position: -.86rem 0;
}

.icon_express.zt {
    left: .58rem;
    top: .35rem;
    background-position: -1.74rem 0;
    width: .72rem;
}

.icon_express.st {
    left: .71rem;
    width: .56rem;
    height: .56rem;
    background-position: -2.86rem 0;
}

.icon_express.tt {
    left: .63rem;
    width: .73rem;
    background-position: -3.94rem 0;
}

.icon_express.yz {
    left: .73rem;
    top: .18rem;
    width: .6rem;
    height: .6rem;
    background-position: -5.12rem 0;
}

.icon_express.yt {
    width: .78rem;
    height: .66rem;
    top: .18rem;
    left: .69rem;
    background-position: -6.32rem 0;
}

.icon_express.zjs {
    width: .78rem;
    height: .78rem;
    top: .1rem;
    left: .64rem;
    background-position: -7.56rem 0;
}

.icon_express.rfd {
    width: .71rem;
    height: .71rem;
    top: .18rem;
    left: .63rem;
    background-position: -8.9rem 0;
}

.exp_type .icon_express{
    left: 0;
}

.exp_pop_ul > li.active {
    background-color: #f5f2f9;
}

#write_expressName{
    display: none;
}
