/*register_one start*/

.register input {
    background-color: transparent;
}

.register_ul {
    padding: .6rem .56rem;
}

.register_ul > li {
    height: 1.18rem;
    line-height: 1.18rem;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border: 1px solid #efefef;
    position: relative;
    margin-bottom: .3rem;
}

.phone_num, .identify_code {
    width: 60%;
    height: 100%;
    font-size: .29rem;
    margin-left: .6rem;
    padding-left: .3rem;
}

.get_identify_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: .46rem;
    height: 100%;
    color: #8b56e4;
}

.register_ul .icon_week {
    width: .36rem;
    height: .48rem;
    position: absolute;
    left: .3rem;
    top: .36rem;
    background-size: 8.6rem 5rem;
}

.phone_tips {
    background-position: -2.06rem -2rem;
}

.identify_tips {
    background-position: -2.8rem -2rem;
}

.register_ul .invite_tips {
    width: .45rem;
    left: .28rem;
    top: .4rem;
    background-position: -1.24rem -2rem;
}

/*register_finish start*/
.reg_finish {
    background-color: #fff;
    padding: .3rem .24rem .6rem;
    margin-bottom: 1.1rem;
}

.reg_finish_ul > li {
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
}

.contact_title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: .3rem;
}

.contact_wrap {
    margin-left: 1.45rem;
    border-bottom: 1px solid #efefef;
}

.contact_wrap i {
    right: 0;
}

.contact_wrap input {
    padding-left: .25rem;
    width: 100%;
    height: 1.1rem;
    font-size: .3rem;
}

/*我的好友以及我邀请的好友 start*/
.my_friend_ul {
    margin-top: .2rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    padding: 0 .24rem;
}

.my_friend_item {
    height: 1.4rem;
    line-height: 1.4rem;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.my_friend_item:last-child {
    border: none;
}

.my_friend_item img {
    width: .9rem;
    height: .9rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .2rem;
}

.join_date {
    position: absolute;
    right: 0;
    top: 0;
}

/*个人中心主页start*/
.member_wrap {
    height: 5.07rem;
    position: relative;
    background-color: #fff;
    margin-bottom: .2rem;
}

.member_bg_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.9rem;
    background: url("../images/user_bg.png") no-repeat;
    background-size: contain;
}

.circle_bg {
    width: 1.74rem;
    height: 1.74rem;
    background: url("../images/icon_port.png") no-repeat;
    background-size: 1.74rem 1.74rem;
    margin: .67rem auto .2rem;
    text-align: center;
    overflow: hidden;
}

.circle_bg img {
    display: inline-block;
    vertical-align: top;
    margin-top: .15rem;
    width: 1.45rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@media (min-width: 374px) , screen and (orientation: landscape) {
    .member_bg_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3.9rem;
        background: url("../images/user_bg.png") no-repeat;
        background-size: cover;
    }
}

.portrait_small {
    width: 3rem;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.member_name {
    font-size: .34rem;
    margin-bottom: .1rem;
}

.member_level_tit {
    font-size: .24rem;
    display: inline-block;
    vertical-align: top;
    margin-top: .1rem;
}

.mem_level_tips {
    display: inline-block;
    vertical-align: top;
    width: .5rem;
    height: .45rem;
    background-position: -8.79rem -1.44rem;
    background-size: 10.5rem 5.9rem;
    margin-right: .2rem;
}

.gift_details {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
}

.gift_details p {
    color: #999;
}

.line_middle {
    position: absolute;
    top: .36rem;
    left: 50%;
    width: 1px;
    height: .35rem;
    background-color: #e4e4e4;
}

.gift_details > div {
    width: 50%;
    text-align: center;
}

.receive_num, .send_num {
    font-size: .32rem;
    color: #8c55e4;
}

.member_ser, .user_link_ul > li {
    height: 1.18rem;
    line-height: 1.18rem;
    background-color: #fff;
    border-top: 1px solid #efefef;
    padding: 0 .24rem 0 .94rem;
    position: relative;
}

.user_link_ul {
    margin-top: .2rem;
    padding: 0 .24rem;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.user_link_ul > li {
    padding-left: .7rem;
    border-top: none;
    border-bottom: 1px solid #efefef;
}

.user_link_ul > li:last-child {
    border: none;
}

.member_ser_link, .user_link_ul a {
    display: block;
    overflow: hidden;
    height: 100%;
    color: #333;
    font-size: .3rem;
}

.member_tips, .user_link_ul em {
    position: absolute;
    left: .24rem;
    top: .33rem;
    width: .5rem;
    height: .45rem;
    background-position: -8.1rem -1.44rem;
    background-size: 10.5rem 5.9rem;
}

.user_link_ul .week_more {
    right: 0;
}

.my_associate_tips > em {
    left: 0;
    background-position: -5.76rem -1.5rem;
}

.receive_addr_tips > em {
    left: 0;
    height: .5rem;
    background-position: -5.05rem -1.5rem;
}

.inviting_tips > em {
    left: 0;
    background-position: -7.38rem -1.5rem;
}

.settings_tips > em {
    left: 0;
    background-position: -6.53rem -1.5rem;
}

/**setting start*/
.mobile_list {
    display: block;
    height: 1.18rem;
    margin-top: .2rem;
    line-height: 1.18rem;
    position: relative;
    background-color: #fff;
    padding: 0 .24rem;
    color: #333;
    font-size: .3rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.log_off {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
}

.log_off_title{
    margin-bottom: .45rem;
}

.log_off_btn{
    margin: 0 .36rem;
    height: .94rem;
    line-height: .94rem;
    border:1px solid #934cf4;
    display: block;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    color: #934cf4;
    font-size: .3rem;
    text-align: center;
}




















