/*register_one start*/

.register input {
    background-color: transparent;
}

.register_ul {
    padding: .6rem .56rem;
}

.register_ul > li {
    height: 1.18rem;
    line-height: 1.18rem;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    border: 1px solid #efefef;
    position: relative;
    margin-bottom: .3rem;
}

.phone_num, .identify_code {
    width: 60%;
    height: 100%;
    font-size: .29rem;
    margin-left: .6rem;
    padding-left: .3rem;
}

.get_identify_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: .46rem;
    height: 100%;
    color: #8b56e4;
}

.register_ul .icon_week {
    width: .36rem;
    height: .48rem;
    position: absolute;
    left: .3rem;
    top: .36rem;
    background-size: 8.6rem 5rem;
}

.phone_tips {
    background-position: -2.06rem -2rem;
}

.identify_tips {
    background-position: -2.8rem -2rem;
}

.register_ul .invite_tips {
    width: .45rem;
    left: .28rem;
    top: .4rem;
    background-position: -1.24rem -2rem;
}

/*register_finish start*/
.reg_finish {
    background-color: #fff;
    padding: .3rem .26rem .6rem;
    margin-bottom: 1.1rem;
}

.reg_finish_ul > li {
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
}

.contact_title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: .3rem;
}

.contact_wrap {
    margin-left: 1.45rem;
    border-bottom: 1px solid #efefef;
}

.contact_wrap i {
    right: 0;
}

.contact_wrap .contact_num{
    height: 1.1rem;
    font-size: .28rem;
    margin-left: .2rem;
    width: 100%;
    display: inline-block;
}

.city_choose_show{
    color: #bebebe;
}


.contact_wrap input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bebebe;
}

.contact_wrap input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bebebe;
}

.contact_wrap input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bebebe;
}

.contact_wrap input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bebebe;
}

/*我的好友以及我邀请的好友 start*/
.my_friend_ul {
    margin-top: .2rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    padding-left: .26rem;
}

.my_friend_item {
    height: 1.4rem;
    line-height: 1.4rem;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.has_added {
    position: absolute;
    right: .26rem;
    top: 0;
    color: #934cf4;
}

.my_friend_item:last-child {
    border: none;
}

.my_friend_item img {
    width: .9rem;
    height: .9rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .2rem;
}

.join_date {
    position: absolute;
    right: .26rem;
    top: 0;
}

.remove_btn {
    position: absolute;
    right: 0;
    top: 0;
    color: #c82a29;
    width: 1.2rem;
    padding-right: .26rem;
    text-align: right;
}

.sure_add_btn {
    position: absolute;
    right: .26rem;
    top: .4rem;
    color: #c82a29;
    width: 2rem;
    height: .58rem;
    padding-right: .26rem;
    text-align: right;
    border: 2px solid #934cf4;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    line-height: .55rem;
    color: #934cf4;
}

.sure_add_btn.white {
    border-color: #fff;
}

/*个人中心主页start*/
.member_wrap {
    height: 5.07rem;
    position: relative;
    background-color: #fff;
    margin-bottom: .2rem;
}

.member_bg_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.9rem;
    background: url("../images/user_bg.png") no-repeat;
    background-size: contain;
}

.circle_bg {
    width: 1.74rem;
    height: 1.74rem;
    background: url("../images/icon_port.png") no-repeat;
    background-size: 1.74rem 1.74rem;
    margin: .67rem auto .2rem;
    text-align: center;
    overflow: hidden;
}

.circle_bg img {
    display: inline-block;
    vertical-align: top;
    margin-top: .15rem;
    width: 1.45rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@media (min-width: 374px) , screen and (orientation: landscape) {
    .member_bg_wrap {
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*height: 3.9rem;*/
        /*background: url("../images/user_bg.png") no-repeat;*/
        background-size: cover;
    }
}

.portrait_small {
    width: 3rem;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.member_name {
    font-size: .34rem;
    margin-bottom: .1rem;
}

.member_level_tit {
    font-size: .24rem;
    display: inline-block;
    vertical-align: top;
    margin-top: .1rem;
}

.mem_level_tips {
    display: inline-block;
    vertical-align: top;
    width: .5rem;
    height: .45rem;
    background-position: -8.79rem -1.44rem;
    background-size: 10.5rem 5.9rem;
    margin-right: .2rem;
}

.gift_details {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
}

.gift_details p {
    color: #999;
}

.gift_details a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.line_middle {
    position: absolute;
    top: .36rem;
    left: 50%;
    width: 1px;
    height: .35rem;
    background-color: #e4e4e4;
}

.gift_details > div {
    width: 50%;
    text-align: center;
}

.receive_num, .send_num {
    font-size: .32rem;
    color: #8c55e4;
}

.member_ser, .user_link_ul > li {
    height: 1.18rem;
    line-height: 1.18rem;
    background-color: #fff;
    border-top: 1px solid #efefef;
    padding: 0 .26rem 0 .94rem;
    position: relative;
}

.user_link_ul {
    margin-top: .2rem;
    padding: 0 .26rem;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.user_link_ul > li {
    padding-left: .7rem;
    border-top: none;
    border-bottom: 1px solid #efefef;
}

.user_link_ul > li:last-child {
    border: none;
}

.member_ser_link, .user_link_ul a {
    display: block;
    overflow: hidden;
    height: 100%;
    color: #333;
    font-size: .3rem;
}

.member_tips, .user_link_ul em {
    position: absolute;
    left: .26rem;
    top: .33rem;
    width: .5rem;
    height: .45rem;
    background-position: -8.1rem -1.44rem;
    background-size: 10.5rem 5.9rem;
}

.user_link_ul .week_more {
    right: 0;
}

.my_associate_tips > em {
    left: 0;
    background-position: -5.76rem -1.5rem;
}

.receive_addr_tips > em {
    left: 0;
    height: .5rem;
    background-position: -5.05rem -1.5rem;
}

.inviting_tips > em {
    left: 0;
    background-position: -7.38rem -1.5rem;
}

.settings_tips > em {
    left: 0;
    background-position: -6.53rem -1.5rem;
}

/**setting start*/
.mobile_list {
    display: block;
    height: 1.18rem;
    margin-top: .2rem;
    line-height: 1.18rem;
    position: relative;
    background-color: #fff;
    padding: 0 .26rem;
    color: #333;
    font-size: .3rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.log_off {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
}

.log_off_title {
    margin-bottom: .45rem;
}

.log_off_btn {
    margin: 0 .36rem;
    height: .94rem;
    line-height: .94rem;
    border: 1px solid #934cf4;
    display: block;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    color: #934cf4;
    font-size: .3rem;
    text-align: center;
}

/*收礼地址*/
.gift_address {
    margin-top: .2rem;
    padding: .4rem .26rem 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.gift_add_name {
    display: inline-block;
    margin-bottom: .25rem;
}

.gift_about_address {
    margin-bottom: .25rem;
}

.edit_msg {
    position: absolute;
    right: .26rem;
    top: .38rem;
    width: .4rem;
    height: .4rem;
    background-position: -8.52rem -2.05rem;
    background-size: 9rem 5rem;
}

.edit_msg_btn {
    width: 1rem;
    display: block;
    height: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
}

/*我获得的的奖励*/

.my_reward_ul {
    padding: 0 .44rem;
}

.my_reward_ul > li {
    height: 1.8rem;
    margin-top: .3rem;
    text-align: center;
    overflow: hidden;
    color: #b6b6b6;
}

.reward {
    background: url("../images/reward.png") no-repeat;
    background-size: contain;
}

.reward.active {
    background: url("../images/reward_on.png") no-repeat;
    background-size: contain;
}

.reward h3 {
    font-size: .32rem;
    margin: .42rem 0 .2rem;
}

.reward.active h3 {
    color: #c36a18;
}

.reward.active span {
    font-size: .26rem;
    color: #e49552;
}

/*接受邀请*/
.accept_inviting {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background: url("../images/accept_bg.jpg") no-repeat center;
    background-size: cover;
    padding: 0 .44rem;
    margin: 0;
}

.accept_btn {
    position: absolute;
    left: .44rem;
    right: .44rem;
    bottom: .4rem;
    height: 1.24rem;
    color: #fff;
    font-size: .34rem;
    text-align: center;
    line-height: 1.3rem;
    background: url("../images/accept_btn.png") no-repeat;
    background-size: 100% 100%;
}

.inviting_fri {
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 100%;
    background: url("../images/invite_fri.jpg") no-repeat;
    background-size: 7.5rem 14.89rem;
    padding: 0;
    margin: 0;
    padding-bottom: .84rem;
}

.invite_btn {
    display: block;
    height: 1.24rem;
    margin: 0 auto;
    color: #fff;
    font-size: .34rem;
    text-align: center;
    background: url("../images/invite_btn.png") no-repeat;
    background-size: 100% 100%;
}

.invite_btn_wrap {
    padding: 0 .58rem .8rem;
}

.act_rule_btn {
    display: block;
    width: 3rem;
    margin: 5.8rem auto .35rem;
    text-align: center;
}

.invite_code_box {
    padding: 0 .58rem 1rem;
    color: #265082;
}

.invite_code_box i {
    font-size: .5rem;
    color: #ffcf3f;
}

.copy_code {
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    border: 2px solid #2d5382;
    padding: .15rem .2rem;
    color: #2d5382;
}

.inviting_fri_bot {
    padding: 0 .35rem;
    background-color: #81bcfe;
}

.inviting_fri_bot a {
    width: 48%;
}

.inviting_fri_bot div {
    width: 100%;
    height: 4.06rem;
    background: url("../images/invited_fri.png") no-repeat;
    background-size: 100% 100%;
    color: #6b2f00;
    text-align: center;
    line-height: 6rem;
    margin-bottom: .84rem;
}

.inviting_fri_bot .fr > div {
    background: url("../images/reward_tip.png") no-repeat;
    background-size: 100% 100%;
}

.inviting_fri_bot i {
    font-weight: bold;
    font-size: .6rem;
}

@media (min-width: 374px) , screen and (orientation: landscape) {
    .inviting_fri {

        background-size: cover;
    }

    .goodFriend_ele {
        background-color: #81bcfe;
    }
}

.search_wechat {
    height: 2.18rem;
    background-color: #fff;
    padding: 0 .2rem;
    line-height: 2.18rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.wechat_input {
    width: 4.53rem;
    height: .8rem;
    font-size: .28rem;
    padding-left: .25rem;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    border: 1px solid #bcbcbc;
    margin-right: .17rem;
    font-size: .28rem;
}

.search_wechat_btn {
    display: inline-block;
    width: 2.28rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .32rem;
    text-align: center;
    background-color: #934cf4;
    color: #fff;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
}

.add_friends_linkbtn {
    position: absolute;
    right: .26rem;
    top: .29rem;
    width: 1.63rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .3rem;
    text-align: center;
    color: #934cf4;
    border: 1px solid #9750f4;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
}

.search_none {
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #999;
    position: absolute;
    left: 50%;
    margin-left: -1.2rem;
    top: 50%;
    margin-top: -1.2rem;

}

.search_no_tip {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto .5rem;
    display: block;
    background-position: -7.66rem -2.68rem;
    background-size: 8.84rem 4.9rem;
}

/*收到的礼物*/
.gift_tot_wrap {
    height: 4.4rem;
    background: url("../images/gift_receive.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 1.6rem;
}

.gift_tot_wrap.send_gifts {
    background: url("../images/gift_send.jpg") no-repeat;
    background-size: 100% 100%;
}

.bg_color_none {
    background-color: transparent;
}

.gift_rec_title {
    height: 1.5rem;
    color: #fff;
    width: 4rem;
    position: relative;
    text-align: center;
    font-size: .34rem;
    margin-left: .5rem;
}

.gift_rec_title i {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.tot_rec {
    position: absolute;
    left: 0;
    top: 0;
}

.gift_foot {
    position: absolute;
    right: 0;
    bottom: 0;
}

.gift_ul {
    padding: 0 .26rem;
    background-color: #fff;
}

.gift_ul > li {
    height: 1.6rem;
    line-height: 1.6rem;
    border-bottom: 1px solid #efefef;
}

.gift_ul > li:last-child {
    border-bottom: none;
}

.gift_ul > .fl, .gift_ul > .fr {
    width: 50%;
}

.face_img {
    display: inline-block;
    vertical-align: middle;
    width: 1.04rem;
    height: 1.04rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: .25rem;
}

/*会员页*/
.member_head {
    height: 2.26rem;
    padding: 0 .26rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    position: relative;
    margin-bottom: .2rem;
}

.face_portrait_img {
    width: 1.44rem;
    height: 1.44rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: .42rem;
    margin-right: .34rem;
}

.face_head_right {
    overflow: hidden;
    padding-top: .6rem;
}

.face_head_right >span{
    font-size: .34rem;
}

.face_head_right > div {
    margin-top: .16rem;
}

.mem_blue {
    display: inline-block;
    vertical-align: middle;
    width: .5rem;
    height: .45rem;
    background-position: -8.08rem -1.44rem;
    background-size: 10.5rem 5.9rem;
    margin-right: .2rem;
}

.regular_mem {
    color: #934cf4;
    vertical-align: middle;
    display: inline-block;
    margin-top: .04rem;
}

.expire_time {
    font-size: .26rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: .04rem;
}

.member_package {
    background-color: #fff;
    margin-bottom: .2rem;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.member_package h3, .mem_rights h3 {
    height: 1rem;
    line-height: 1rem;
    padding-left: .26rem;
    border-bottom: 1px solid #efefef;
}

.member_package_ul {
    padding: 0 .26rem;
}

.member_package_ul > li {
    height: 1.09rem;
    line-height: 1.09rem;
    border-bottom: 1px solid #efefef;
}

.member_package_ul > li:last-child {
    border-bottom: none;
}

.member_package_ul span {
    color: #f75d5d;
}

.recharge {
    width: 1.05rem;
    height: .46rem;
    border-radius: .23rem;
    line-height: .46rem;
    color: #fff;
    text-align: center;
    background-color: #f75d5d;
    margin-top: .27rem;
}

.mem_rights {
    background-color: #fff;
}

.mem_rights_ul {
    padding: 0 .26rem;
}

.mem_rights_ul li > div {
    float: left;
}

.mem_rights_ul li {
    height: 1.4rem;
    line-height: 1.4rem;
    border-bottom: 1px solid #efefef;
}

.mem_rights_ul li > span {
    float: left;
    width: .85rem;
    height: .85rem;
    background-position: -4.26rem -.04rem;
    background-size: 8.6rem 4.6rem;
    margin: .28rem .28rem 0 0;
}

.mem_rights_ul li > span.envelope_tip {
    background-position: -6.74rem -.04rem;
}

.mem_rights_ul li > span.pack_percent_tip{
    background-position: -5.57rem -.04rem;
}

.mem_rights_ul .online_email {
    padding-top: .36rem;
    line-height: normal;
}

.mem_rights_ul .online_email p{
    margin-bottom: .04rem;
}

.mem_rights_ul .online_email span{
    font-size: .24rem;
}















