<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <title>用户评论</title>
    <link href="styles/reset.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="all_elements">
    <div class="header">
        <a href="javascript:window.history.go(-1);" class="header_back">
            <i class="head_back icon_week"></i>
        </a>

        <h3>用户评论</h3>
    </div>
    <div class="content">
        <section class="guest_comments" id="js_gue_comment">
            <!--<ul class="guest_comments_list">-->
            <!--<li class="gue_com_item clearfix">-->
            <!--<img src="images/gue_portrait.png" alt="" class="gue_portrait fl"/>-->

            <!--<div class="gue_right">-->
            <!--<div class="gue_name_wrap clearfix">-->
            <!--<span class="fl">LIang</span>-->
            <!--<span class="gue_com_date fr">2016.10.27</span>-->
            <!--</div>-->
            <!--<p class="gue_txt">朋友很满意，买了俩瓶三百多的红酒，寄给平台包装下，身价瞬间涨了几倍呃！</p>-->

            <!--<div class="gue_eximg_wrap">-->
            <!--<img class="gue_com_eximg" src="images/gue_comment1.jpg" alt=""/><img class="gue_com_eximg"-->
            <!--src="images/gue_comment1.jpg"-->
            <!--alt=""/><img-->
            <!--class="gue_com_eximg" src="images/gue_comment1.jpg" alt=""/>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
        </section>
        <div class="load_more_wrap">
            <div class="load_more" id="loadMore">点击加载更多</div>
        </div>
    </div>
</div>


<script src="js/lib/jquery-1.10.2.min.js"></script>
<script src="js/lib/ejs.js"></script>

<script id="comment_list" type="text/template">
    <ul class="guest_comments_list line_none">
        <% for(var i=data[0].offset; i< (data[0].offset+data[0].size); i++){ %>
        <li class="gue_com_item clearfix">
            <img src="<%=data[i].imgurl%>" alt="" class="gue_portrait fl"/>

            <div class="gue_right">
                <div class="gue_name_wrap clearfix">
                    <span class="fl">LIang</span>
                    <span class="gue_com_date fr">2016.10.27</span>
                </div>
                <p class="gue_txt">朋友很满意，买了俩瓶三百多的红酒，寄给平台包装下，身价瞬间涨了几倍呃！</p>

                <div class="gue_eximg_wrap">
                    <img class="gue_com_eximg" src="images/gue_comment1.jpg" alt=""/><img class="gue_com_eximg"
                                                                                          src="images/gue_comment1.jpg"
                                                                                          alt=""/><img
                        class="gue_com_eximg" src="images/gue_comment1.jpg" alt=""/>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
</script>


<script>

    $(function () {

        /*初始化*/
        var counter = 0;
        /*计数器*/
        var pageStart = 0;
        /*offset*/
        var pageSize = 4;
        /*size*/

        /*首次加载*/
        getData(pageStart, pageSize);

        /*监听加载更多*/
        $(document).on('click', '#loadMore', function () {
            counter++;
            pageStart = counter * pageSize;
            getData(pageStart, pageSize);
        });

        function getData(offset, size) {
            $.ajax({
                type: 'GET',
                url: 'js/blog.json',
                dataType: 'json',
                success: function (reponse) {

                    var data = reponse.list;
                    var sum = reponse.list.length;

                    var result = '';

                    //判断剩余个数
                    if (sum - offset < size) {
                        size = sum - offset;
                    }

                    //加工数据，给ejs传参
                    data[0].offset=offset;
                    data[0].size=size;

                    //模板替换
                    var comment_list_str = $('#comment_list').html();
                    var commonHtml = ejs.render(comment_list_str, {data: data})
                    result += commonHtml;
                    $('#js_gue_comment').append(result);

                    /*隐藏按钮*/
                    if ((offset + size) >= sum) {
                        $("#loadMore").html('没有更多数据了').css({
                            'color':'#666',
                            'backgroundColor':'#fff'
                        });
                    } else {
                        $("#loadMore").show();
                    }
                },
                error: function (xhr, type) {
                    alert('Ajax error!');
                }
            });
        }
    });

</script>
</body>
</html>